<!DOCTYPE html>
<html>
<head>
  <head>
  <title>ajouter formation</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

     <link rel="stylesheet" href="/path/to/bootstrap.min.css">
  <title>Formations</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/liste-formations">Liste des formations</a>
    <a href="/ajouter-formation">Ajouter une formation</a>
    <a href="/recherche-formation">Rechercher une formation</a>
  </nav>
  {{{body}}}
</body>
</html>
